# ==========================
# Servidor
# ==========================

STRAPI_HOST=0.0.0.0
STRAPI_PORT=1337

# ==========================
# Base de datos
# ==========================

DATABASE_CLIENT=postgres
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=strapi_db
DATABASE_USERNAME=strapi_user
DATABASE_PASSWORD=password
DATABASE_SSL=false

# ==========================
# Secrets
# ==========================

APP_KEYS=...
API_TOKEN_SALT=...
ADMIN_JWT_SECRET=...
TRANSFER_TOKEN_SALT=...
ENCRYPTION_KEY=...
JWT_SECRET=...